<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <style>
        #a{height: 250px;width: 1200px;background-color: rgb(236, 238, 238);margin-top: 100px;margin-left: 150px;box-shadow: 10px 10px 10px;}
        ul{padding-top: 38px;}
  </style>
</head>
<body>
<h1>Terms & Conditions</h1>


<div id="a" >


<ul type="round" class="mb-3">
  <li>All listings may go through a review process and the approval of a listing will be at the discretion of CarWale. Prospective buyers will see images after they are approved. Rest of the details will be visible instantly after Ad goes live.</li>
<li>An individual user can list only two cars as part of the free listings. If user wants to upload third car, he will have to delete one of the existing live cars from CarWale.</li>
<li>As a Seller you certify that all information provided by you against your listed car is true.</li>
<li>Seller is alone responsible for completing and verification of the documentation part, before concluding the sale. Any sale concluded on the part of the Seller, shall be the sole responsibility of the Seller.</li>
<li>User will not abuse or misuse the website or engage in any activity which violates the terms of this Agreement. In any such case, CarWale may suspend user account or permanently debar him/her from accessing the Website.</li>
<li>Any individual, who lists his/ her car on CarWale availing the plan, accepts the Terms and Conditions specified above in total.</li>

</ul>
</div>

</body>
</html>